.category {

}

.category__item {
    width: 20%;
    padding: 0 10px;
    box-sizing: border-box;
    text-decoration: none;
    margin-bottom: 20px;
}

.category__img {
    width: 100%;
}

.category__name {
    color: #fff;
    padding: 10px 0 10px;
}

.category__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

@media screen and (max-width: 800px) {
    .category__item {
        width: 25%;
    }
}

@media screen and (max-width: 700px) {
    .category__item {
        width: 33%;
    }
}

@media screen and (max-width: 500px) {
    .category__item {
        width: 50%;
    }
}