.page {

}

.page__block {
    display: flex;
    justify-content: space-between;
}

.page__title {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.page__cell {

}

.page__info {
    margin: 40px 20px 0 0;
}

@media screen and (max-width: 800px) {
    .page__img {
        max-width: 225px;
    }
}

@media screen and (max-width: 600px) {
    .page__block {
        flex-direction: column;
    }

    .page__info {
        margin-right: 0;
    }

    .page__cell_img {
        order: -1;
        max-height: 89vw;
        overflow: hidden;
    }

    .page__img {
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
    }
}